@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  z-index: 1;
  background-color: $bg;
  position: relative;
}
.header__inner{
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  &__logo{
    opacity: .7;
    transition: all .5s;
  }
  &__menu{
    li{
      display: inline-block;   
      opacity: .7;
      transition: all .5s;
    }
    li + li{
      margin-left: 35px;
    }
  }
  &__contacts{
    a{
      display: block;
      margin: 10px 0;
      opacity: .7;
      padding-left: 25px;
      transition: all .5s;
      position: relative;
    }
  }
  &__btn{
    padding: 10px 30px;
    border-radius: 25px;
    background-color: $btn;
    opacity: 0.7;
    transition: all .5s;
  }
}
.header__logo:hover{
  opacity: 1;
}
.header__menu li{
  position: relative;
  &:hover{
    opacity: 1;
    &::before{
      width: 85%;
    }
  }
  &::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: $btn;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 25px;
    transition: all .5s;
  }
}
.header__contacts a{
  &:hover{
    opacity: 1;
    &::before{
      color: $btn;
      transform: rotateZ(15deg);
    }
  }
  &::before{
    content: '\f095';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    transition: all .5s;
    transform: rotateZ(135deg);
  }
}
.header__btn:hover{
  opacity: 1;
  box-shadow: 4px 4px 15px rgba(245,44,84,1);
}

// end header
//  start particles

#particles-black{
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}

// end particles
// start main

.main{
  padding: 250px 0;
}
.main__inner{
  position: relative;
  color: #fff;
  text-align: center;
}
.main__title{
  font-size: 40px;
  font-family: 'Gotham Pro Bold', sans-serif;
  margin-bottom: 50px;
}
.main__btn{
  a{
    margin: 0 40px;
    font-size: 18px;
  }
  &-home{
    padding-left: 35px;
    position: relative;
    transition: all .5s;
    &::before{
      content: '\e9b6';
      font-family: 'icomoon';
      position: absolute;
      left: -15px;
      top: -8px;
      font-size: 30px;
      transition: all .5s;
    }
    &:hover{
      color: $btn;
      &::before{
        color: #fff;
        transform: rotateZ(90deg);
      }
    }
  }
  &-works{
    border: 1px solid white;
    padding: 10px 55px 10px 25px;
    border-radius: 25px;
    position: relative;
    transition: all .5s;
    &::after{
      content: '\e968';
      font-family: 'icomoon';
      position: absolute;
      right: 20px;
      transition: all .5s;
    }
  }
}
.main__btn-works:hover{
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  &::after{
    transform: rotateX(180deg);
    color: #000;
  }
}

// end main

@import "media";